@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
}

@layer utilities {
  .f-hoverlabel:hover .f-hoverimg {
    transition: all .3s;
    opacity: 100%;
  }
  .f-hoverlabel:hover .f-hoverparagraph {
    transition: all .3s;
    color: #000;
  }
  .f-hoverlabel:hover .f-after {
    transition: all .3s;
    background-color: #ddd;
  }
  input:checked + div > .f-hoverimg {
    opacity: 100%;
  }
  input:checked + div > .f-hoverparagraph {
    color: #000;
  }
  input:checked + div > .f-after {
    background-color: #000;
  }
  .fade-out {
    -webkit-animation: fade-out 0.4s ease-out both;
    animation: fade-out 0.4s ease-out both;
  }
  @-webkit-keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .fade-in {
    -webkit-animation: fade-in 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}